@import "reset";

/* Start variables */
$text__bodyCopy: hsl(207, 13%, 34%);
$text__cta: hsl(356, 100%, 66%);
$text__footer: hsl(240, 2%, 79%);
$text__heading: hsl(208, 49%, 24%);
$text__white: hsl(0, 0%, 100%);
$bg__ctaHover: hsl(355, 100%, 74%);
$bg__footer: hsl(240, 10%, 16%);
$bg__grad__phones: linear-gradient(
  90deg,
  hsl(237, 17%, 21%),
  hsl(237, 23%, 32%)
);
$bg__grad__introCta: linear-gradient(
  90deg,
  hsl(13, 100%, 72%),
  hsl(353, 100%, 62%)
);

@mixin font__ubuntu($weight) {
  font-family: "Ubuntu", sans-serif;
  font-weight: $weight;
}

@mixin font__overpass($weight) {
  font-family: "Overpass", sans-serif;
  font-weight: $weight;
}

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}
/* End variables */

html {
  font-family: "Overpass", sans-serif;
  font-size: 100%;
  font-weight: 300;
  overflow-x: hidden;
}
.content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10%;
}
.btn {
  @include font__overpass(600);
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  padding-top: 2px;
  transition: all 0.15s ease-out;
  width: 137px;
  &--primary {
    background: $text__white;
    color: $text__cta;
    &:hover {
      background: $bg__ctaHover;
      color: $text__white;
    }
  }
  &--secondary {
    border: 1px solid $text__white;
    &:hover {
      background: $text__white;
      color: $text__cta;
    }
  }
  &--no {
    cursor: pointer;
  }
}

#hero {
  background: url("/images/bg-pattern-intro.svg") no-repeat, $bg__grad__introCta;
  background-position: bottom 46% left 25%;
  background-size: 210%, contain;
  border-radius: 0 0 0 100px;
  width: 100%;
  .topbar {
    align-items: center;
    display: flex;
    margin-bottom: 125px;
    padding-top: 65px;
    .nav {
      @include font__ubuntu(500);
      display: flex;
      height: 25px;
      justify-content: space-around;
      margin-left: 4%;
      width: 350px;
      &__item {
        position: relative;
        &:hover {
          & > .nav__item__heading:after {
            transform: rotate(180deg);
            top: 3px;
          }
          & > .nav__item__dropdown {
            display: block;
          }
        }
      }
      &__item__heading {
        color: $text__white;
        opacity: 0.8;
        padding-bottom: 40px;
        position: relative;
        &:after {
          background: url("/images/icon-arrow-light.svg") no-repeat;
          content: "";
          height: 10px;
          position: absolute;
          right: -20px;
          top: 6px;
          width: 10px;
          transition: all 0.15s ease-out;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &__item__dropdown {
        background: $text__white;
        border-radius: 6px;
        display: none;
        padding: 35px 50px 35px 25px;
        position: absolute;
        z-index: 10;
        &--option {
          @include font__ubuntu(400);
          font-size: 0.9rem;
          width: 100px;
          &:hover {
            cursor: pointer;
            font-weight: 700;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .account {
      @include font__overpass(600);
      align-items: center;
      color: $text__white;
      display: flex;
      margin-left: auto;
      & .btn--no {
        margin-right: 30px;
        opacity: 0.8;
      }
    }
  }
  .cta {
    align-items: center;
    color: $text__white;
    display: flex;
    flex-direction: column;
    padding-bottom: 175px;
    &__tagline {
      @include font__overpass(600);
      font-size: 3.75rem;
      margin-bottom: 20px;
    }
    &__subline {
      @include font__overpass(300);
      font-size: 1.2rem;
      margin-bottom: 40px;
      opacity: 0.8;
    }
    &__buttons {
      display: flex;
      & .btn:first-child {
        margin-right: 15px;
      }
    }
  }
}

#future {
  position: relative;
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    color: $text__heading;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 150px 0;
    text-align: center;
    width: 100%;
  }
  .perks {
    width: 47%;
    .perk {
      &:nth-child(2) {
        margin-top: 55px;
      }
      &--title {
        color: $text__heading;
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 35px;
      }
      &--details {
        color: $text__bodyCopy;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 2rem;
      }
    }
  }
  .graphic {
    max-width: 900px;
    position: absolute;
    right: -285px;
    top: 100px;
    // width: 65%;
    img {
      width: 100%;
    }
  }
}
#phones {
  background: url("/images/bg-pattern-circles.svg") no-repeat, $bg__grad__phones;
  background-position: top 80% left -210px, center center;
  background-size: 70%, 100%;
  border-radius: 0 100px 0 100px;
  height: 400px;
  margin-top: 200px;
  position: relative;
  width: 100%;
  .content {
    display: flex;
  }
  .graphic {
    position: relative;
    top: -70px;
    max-width: 550px;
    img {
      width: 100%;
    }
  }
  .perk {
    color: $text__white;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin-left: 50px;
    width: 50%;
    &--title {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &--details {
      line-height: 2rem;
      font-weight: 200;
      letter-spacing: 0.5px;
      width: 95%;
    }
  }
}

#laptop,
#footer {
  display: none;
}
