@import "reset";

/* Start variables */
$text__bodyCopy: hsl(207, 13%, 34%);
$text__cta: hsl(356, 100%, 66%);
$text__footer: hsl(240, 2%, 79%);
$text__heading: hsl(208, 49%, 24%);
$text__white: hsl(0, 0%, 100%);
$bg__ctaHover: hsl(355, 100%, 74%);
$bg__footer: hsl(240, 10%, 16%);
$bg__grad__phones: linear-gradient(
  90deg,
  hsl(237, 17%, 21%),
  hsl(237, 23%, 32%)
);
$bg__grad__introCta: linear-gradient(
  90deg,
  hsl(13, 100%, 72%),
  hsl(353, 100%, 62%)
);

@mixin font__ubuntu($weight) {
  font-family: "Ubuntu", sans-serif;
  font-weight: $weight;
}

@mixin font__overpass($weight) {
  font-family: "Overpass", sans-serif;
  font-weight: $weight;
}

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}
/* End variables */

html {
  font-family: "Overpass", sans-serif;
  font-size: 100%;
  font-weight: 300;
  overflow-x: hidden;
}
.content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10%;
  @include mobile {
    padding: 0 8%;
  }
}
.btn {
  @include font__overpass(600);
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  padding-top: 2px;
  transition: all 0.15s ease-out;
  width: 137px;
  &--primary {
    background: $text__white;
    color: $text__cta;
    &:hover {
      background: $bg__ctaHover;
      color: $text__white;
    }
    @include mobile {
      background: $bg__grad__introCta;
      color: $text__white;
      &:hover {
        background: $bg__grad__introCta;
        color: $text__white;
      }
    }
  }
  &--secondary {
    border: 1px solid $text__white;
    &:hover {
      background: $text__white;
      color: $text__cta;
    }
  }
  &--no {
    cursor: pointer;
  }
}

#hero {
  background: url("/images/bg-pattern-intro.svg") no-repeat, $bg__grad__introCta;
  background-position: bottom 46% left 25%;
  background-size: 210%, contain;
  border-radius: 0 0 0 100px;
  width: 100%;
  .topbar {
    align-items: center;
    display: flex;
    margin-bottom: 125px;
    padding-top: 65px;
    .nav__mobileBtn {
      display: none;
      @include mobile {
        display: block;
        margin-left: auto;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .navContainer {
      align-items: center;
      display: flex;
      width: 100%;
      @include mobile {
        background: $text__white;
        border-radius: 6px;
        flex-direction: column;
        left: 0;
        margin: 150px 4vw 0;
        position: absolute;
        top: 0;
        width: 92vw;
        z-index: 10;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(37, 37, 45, 0.4);
        -moz-box-shadow: 0px 0px 30px 0px rgba(37, 37, 45, 0.4);
        box-shadow: 0px 0px 30px 0px rgba(37, 37, 45, 0.4);
      }
    }
    .nav {
      @include font__ubuntu(500);
      display: flex;
      height: 25px;
      justify-content: space-around;
      margin-left: 4%;
      width: 350px;
      @include mobile {
        align-items: center;
        flex-direction: column;
        font-size: 1.25rem;
        height: auto;
        margin-left: 0;
        margin-top: 50px;
      }
      &__item {
        position: relative;
        @include mobile {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        &:hover {
          & > .nav__item__heading:after {
            transform: rotate(180deg);
            top: 3px;
            @include mobile {
              transform: none;
              top: 6px;
            }
          }
          & > .nav__item__dropdown {
            display: block;
            @include mobile {
              display: none;
            }
          }
        }
        &.show {
          & > .nav__item__heading:after {
            transform: rotate(180deg);
            top: 3px;
          }
          & > .nav__item__dropdown {
            display: block;
          }
        }
      }
      &__item__heading {
        color: $text__white;
        opacity: 0.8;
        padding-bottom: 40px;
        position: relative;
        @include mobile {
          color: $text__heading;
          width: 25%;
        }
        &:after {
          background: url("/images/icon-arrow-light.svg") no-repeat;
          content: "";
          height: 10px;
          position: absolute;
          right: -20px;
          top: 6px;
          width: 10px;
          transition: all 0.15s ease-out;
          @include mobile {
            background: url("/images/icon-arrow-dark.svg") no-repeat;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      &__item__dropdown {
        background: $text__white;
        border-radius: 6px;
        display: none;
        padding: 35px 50px 35px 25px;
        position: absolute;
        z-index: 10;
        &--option {
          @include font__ubuntu(400);
          font-size: 0.9rem;
          width: 100px;
          &:hover {
            cursor: pointer;
            font-weight: 700;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
        @include mobile {
          background: $text__footer;
          margin-bottom: 40px;
          opacity: 0.8;
          padding: 25px 0;
          position: relative;
          text-align: center;
          width: 90%;
          &--option {
            color: $text__heading;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    .account {
      @include font__overpass(600);
      align-items: center;
      color: $text__white;
      display: flex;
      margin-left: auto;
      & .btn--no {
        margin-right: 30px;
        opacity: 0.8;
        @include mobile {
          color: $text__heading;
          font-size: 1.25rem;
          margin: 25px 0;
        }
      }
      @include mobile {
        flex-direction: column;
        border-top: 2px solid hsla(240, 2%, 79%, 0.7);
        width: 90%;
        margin: 0 auto 50px;
      }
    }
  }
  .cta {
    align-items: center;
    color: $text__white;
    display: flex;
    flex-direction: column;
    padding-bottom: 175px;
    text-align: center;
    &__tagline {
      @include font__overpass(600);
      font-size: 3.75rem;
      margin-bottom: 20px;
      @include mobile {
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        justify-content: center;
        span {
          margin-bottom: 5px;
          width: 100%;
        }
      }
    }
    &__subline {
      @include font__overpass(300);
      font-size: 1.2rem;
      margin-bottom: 40px;
      opacity: 0.8;
      @include mobile {
        line-height: 1.5rem;
      }
    }
    &__buttons {
      display: flex;
      & .btn:first-child {
        margin-right: 15px;
      }
    }
  }
}

#future {
  position: relative;
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    color: $text__heading;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 150px 0;
    text-align: center;
    width: 100%;
    @include mobile {
      font-size: 1.75rem;
      margin: 150px 0 50px;
    }
  }
  .perks {
    width: 47%;
    @include mobile {
      margin-top: 50px;
      order: 2;
      width: auto;
      text-align: center;
    }
    .perk {
      &:nth-child(2) {
        margin-top: 55px;
      }
      &--title {
        color: $text__heading;
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 35px;
      }
      &--details {
        color: $text__bodyCopy;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 2rem;
      }
    }
  }
  .graphic {
    max-width: 900px;
    position: absolute;
    right: -285px;
    top: 100px;
    img {
      width: 100%;
      &.mobile {
        display: none;
      }
      @include mobile {
        &.desktop {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
    }
    @include mobile {
      left: 0;
      order: 1;
      position: relative;
      top: 0;
    }
  }
}
#phones {
  background: url("/images/bg-pattern-circles.svg") no-repeat, $bg__grad__phones;
  background-position: top 80% left -210px, center center;
  background-size: 70%, 100%;
  border-radius: 0 100px 0 100px;
  height: 400px;
  margin-top: 200px;
  position: relative;
  width: 100%;
  @include mobile {
    background-position: top -200% center, top center;
    background-size: 150%, 100%;
    height: 100%;
    margin-top: 250px;
    text-align: center;
  }
  .content {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }
  .graphic {
    position: relative;
    top: -70px;
    max-width: 550px;
    img {
      width: 100%;
    }
    @include mobile {
      top: -150px;
    }
  }
  .perk {
    color: $text__white;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin-left: 50px;
    width: 50%;
    @include mobile {
      width: 100%;
      margin-left: 0;
      margin-top: -100px;
    }
    &--title {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &--details {
      line-height: 2rem;
      font-weight: 200;
      letter-spacing: 0.5px;
      width: 95%;
      @include mobile {
        margin-bottom: 100px;
      }
    }
  }
}

#laptop {
  margin-top: 200px;
  position: relative;
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .graphic {
    margin-right: 23%;
    position: relative;
    width: 30%;
    @include mobile {
      margin-right: 0;
      width: 100%;
    }
    img {
      left: -415px;
      position: relative;
      top: -100px;
      &.mobile {
        display: none;
      }
      @include mobile {
        &.desktop {
          display: none;
        }
        &.mobile {
          display: block;
          left: 0;
          top: 0;
          transform: translateX(-18%);
          width: 160%;
        }
      }
    }
  }
  .perks {
    margin-top: 70px;
    width: 47%;
    @include mobile {
      text-align: center;
      width: 100%;
    }
    .perk {
      &:nth-child(2) {
        margin-top: 55px;
        @include mobile {
          margin-bottom: 100px;
        }
      }
      &--title {
        color: $text__heading;
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 35px;
      }
      &--details {
        color: $text__bodyCopy;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 2rem;
      }
    }
  }
}

#footer {
  background: $bg__footer;
  border-radius: 0 100px 0 0;
  padding: 80px 0;
  width: 100%;
  .content {
    display: flex;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  .nav {
    display: flex;
    justify-content: space-around;
    margin-left: 7%;
    width: 75%;
    @include mobile {
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-left: 0;
    }
    &__item {
      color: $text__white;
      &__heading {
        @include font__ubuntu(500);
        font-size: 0.925;
        margin-bottom: 35px;
        @include mobile {
          margin-top: 50px;
        }
      }
      &__dropdown {
        @include font__ubuntu(400);
        font-size: 0.9rem;
        &--option {
          opacity: 0.6;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
