html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start variables */
/* End variables */
html {
  font-family: "Overpass", sans-serif;
  font-size: 100%;
  font-weight: 300;
  overflow-x: hidden;
}

.content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10%;
}

@media screen and (max-width: 1000px) {
  .content {
    padding: 0 8%;
  }
}

.btn {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  width: 137px;
}

.btn--primary {
  background: white;
  color: #ff525d;
}

.btn--primary:hover {
  background: #ff7a85;
  color: white;
}

@media screen and (max-width: 1000px) {
  .btn--primary {
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(90deg, #ff8f70, #ff3d54);
    color: white;
  }
  .btn--primary:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(90deg, #ff8f70, #ff3d54);
    color: white;
  }
}

.btn--secondary {
  border: 1px solid white;
}

.btn--secondary:hover {
  background: white;
  color: #ff525d;
}

.btn--no {
  cursor: pointer;
}

#hero {
  background: url("/images/bg-pattern-intro.svg") no-repeat, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: url("/images/bg-pattern-intro.svg") no-repeat, linear-gradient(90deg, #ff8f70, #ff3d54);
  background-position: bottom 46% left 25%;
  background-size: 210%, contain;
  border-radius: 0 0 0 100px;
  width: 100%;
}

#hero .topbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 125px;
  padding-top: 65px;
}

#hero .topbar .nav__mobileBtn {
  display: none;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__mobileBtn {
    display: block;
    margin-left: auto;
  }
  #hero .topbar .nav__mobileBtn:hover {
    cursor: pointer;
  }
}

#hero .topbar .navContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .navContainer {
    background: white;
    border-radius: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    margin: 150px 4vw 0;
    position: absolute;
    top: 0;
    width: 92vw;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(37, 37, 45, 0.4);
    box-shadow: 0px 0px 30px 0px rgba(37, 37, 45, 0.4);
  }
}

#hero .topbar .nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 4%;
  width: 350px;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.25rem;
    height: auto;
    margin-left: 0;
    margin-top: 50px;
  }
}

#hero .topbar .nav__item {
  position: relative;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#hero .topbar .nav__item:hover > .nav__item__heading:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 3px;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__item:hover > .nav__item__heading:after {
    -webkit-transform: none;
            transform: none;
    top: 6px;
  }
}

#hero .topbar .nav__item:hover > .nav__item__dropdown {
  display: block;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__item:hover > .nav__item__dropdown {
    display: none;
  }
}

#hero .topbar .nav__item.show > .nav__item__heading:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 3px;
}

#hero .topbar .nav__item.show > .nav__item__dropdown {
  display: block;
}

#hero .topbar .nav__item__heading {
  color: white;
  opacity: 0.8;
  padding-bottom: 40px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__item__heading {
    color: #1f3f5b;
    width: 25%;
  }
}

#hero .topbar .nav__item__heading:after {
  background: url("/images/icon-arrow-light.svg") no-repeat;
  content: "";
  height: 10px;
  position: absolute;
  right: -20px;
  top: 6px;
  width: 10px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__item__heading:after {
    background: url("/images/icon-arrow-dark.svg") no-repeat;
  }
}

#hero .topbar .nav__item__heading:hover {
  cursor: pointer;
}

#hero .topbar .nav__item__dropdown {
  background: white;
  border-radius: 6px;
  display: none;
  padding: 35px 50px 35px 25px;
  position: absolute;
  z-index: 10;
}

#hero .topbar .nav__item__dropdown--option {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100px;
}

#hero .topbar .nav__item__dropdown--option:hover {
  cursor: pointer;
  font-weight: 700;
}

#hero .topbar .nav__item__dropdown--option:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .nav__item__dropdown {
    background: #c8c8cb;
    margin-bottom: 40px;
    opacity: 0.8;
    padding: 25px 0;
    position: relative;
    text-align: center;
    width: 90%;
  }
  #hero .topbar .nav__item__dropdown--option {
    color: #1f3f5b;
    margin-left: auto;
    margin-right: auto;
  }
}

#hero .topbar .account {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

#hero .topbar .account .btn--no {
  margin-right: 30px;
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  #hero .topbar .account .btn--no {
    color: #1f3f5b;
    font-size: 1.25rem;
    margin: 25px 0;
  }
}

@media screen and (max-width: 1000px) {
  #hero .topbar .account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 2px solid rgba(200, 200, 203, 0.7);
    width: 90%;
    margin: 0 auto 50px;
  }
}

#hero .cta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 175px;
  text-align: center;
}

#hero .cta__tagline {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 3.75rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  #hero .cta__tagline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #hero .cta__tagline span {
    margin-bottom: 5px;
    width: 100%;
  }
}

#hero .cta__subline {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 40px;
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  #hero .cta__subline {
    line-height: 1.5rem;
  }
}

#hero .cta__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .cta__buttons .btn:first-child {
  margin-right: 15px;
}

#future {
  position: relative;
}

#future .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#future .title {
  color: #1f3f5b;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 150px 0;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #future .title {
    font-size: 1.75rem;
    margin: 150px 0 50px;
  }
}

#future .perks {
  width: 47%;
}

@media screen and (max-width: 1000px) {
  #future .perks {
    margin-top: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    text-align: center;
  }
}

#future .perks .perk:nth-child(2) {
  margin-top: 55px;
}

#future .perks .perk--title {
  color: #1f3f5b;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 35px;
}

#future .perks .perk--details {
  color: #4b5862;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2rem;
}

#future .graphic {
  max-width: 900px;
  position: absolute;
  right: -285px;
  top: 100px;
}

#future .graphic img {
  width: 100%;
}

#future .graphic img.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  #future .graphic img.desktop {
    display: none;
  }
  #future .graphic img.mobile {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  #future .graphic {
    left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    top: 0;
  }
}

#phones {
  background: url("/images/bg-pattern-circles.svg") no-repeat, -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background: url("/images/bg-pattern-circles.svg") no-repeat, linear-gradient(90deg, #2c2d3f, #3f4164);
  background-position: top 80% left -210px, center center;
  background-size: 70%, 100%;
  border-radius: 0 100px 0 100px;
  height: 400px;
  margin-top: 200px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #phones {
    background-position: top -200% center, top center;
    background-size: 150%, 100%;
    height: 100%;
    margin-top: 250px;
    text-align: center;
  }
}

#phones .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  #phones .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#phones .graphic {
  position: relative;
  top: -70px;
  max-width: 550px;
}

#phones .graphic img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #phones .graphic {
    top: -150px;
  }
}

#phones .perk {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  #phones .perk {
    width: 100%;
    margin-left: 0;
    margin-top: -100px;
  }
}

#phones .perk--title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
}

#phones .perk--details {
  line-height: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  width: 95%;
}

@media screen and (max-width: 1000px) {
  #phones .perk--details {
    margin-bottom: 100px;
  }
}

#laptop {
  margin-top: 200px;
  position: relative;
}

#laptop .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#laptop .graphic {
  margin-right: 23%;
  position: relative;
  width: 30%;
}

@media screen and (max-width: 1000px) {
  #laptop .graphic {
    margin-right: 0;
    width: 100%;
  }
}

#laptop .graphic img {
  left: -415px;
  position: relative;
  top: -100px;
}

#laptop .graphic img.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  #laptop .graphic img.desktop {
    display: none;
  }
  #laptop .graphic img.mobile {
    display: block;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-18%);
            transform: translateX(-18%);
    width: 160%;
  }
}

#laptop .perks {
  margin-top: 70px;
  width: 47%;
}

@media screen and (max-width: 1000px) {
  #laptop .perks {
    text-align: center;
    width: 100%;
  }
}

#laptop .perks .perk:nth-child(2) {
  margin-top: 55px;
}

@media screen and (max-width: 1000px) {
  #laptop .perks .perk:nth-child(2) {
    margin-bottom: 100px;
  }
}

#laptop .perks .perk--title {
  color: #1f3f5b;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 35px;
}

#laptop .perks .perk--details {
  color: #4b5862;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2rem;
}

#footer {
  background: #25252d;
  border-radius: 0 100px 0 0;
  padding: 80px 0;
  width: 100%;
}

#footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  #footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 7%;
  width: 75%;
}

@media screen and (max-width: 1000px) {
  #footer .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
}

#footer .nav__item {
  color: white;
}

#footer .nav__item__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 0.925;
  margin-bottom: 35px;
}

@media screen and (max-width: 1000px) {
  #footer .nav__item__heading {
    margin-top: 50px;
  }
}

#footer .nav__item__dropdown {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

#footer .nav__item__dropdown--option {
  opacity: 0.6;
}

#footer .nav__item__dropdown--option:not(:last-child) {
  margin-bottom: 20px;
}

#footer .nav__item__dropdown--option:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */